* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body{
    max-width: 1920px;
}
header {
  background-image: url(images/wheel3.jpg);
  background-size: cover;
  height: 100vh;
}
#menu {
  text-align: right;
  padding: 50px;
  word-spacing: 25px;
  width: 100%;
  display: block;
  z-index: 10;
}
#menu a {
  text-decoration: none;
  color: rgba(248, 246, 246);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 4px;
  border: solid rgba(255, 255, 255, 0) 2px;
  font-size: 20px;
  text-shadow: 1px 1px 0 rgb(15, 15, 15);
}
#openMenuButton {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  color: white;
  padding: 50px;
  z-index: 11;
}
#closeMenuButton {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  color: white;
  padding: 20px;
  z-index: 11;
}
#menu a:not(:last-child):hover {
  color: black;
  background-color: aliceblue;

  border: solid white 2px;
}
@media screen and (max-width: 600px) {
  .abouUsIconMoto {
    width: 100%;
      }
  .inline {
    width: 100%;
    }
  #openMenuButton {
    display: block;
  }
  #closeMenuButton {
    display: none;
    cursor: pointer;
    position: fixed;
  }
  #menu {
    display: none;
    background-color: rgba(128, 128, 128, 0.781);
    color: white;
    padding-top: 10px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 2rem;
    height: 100%;
    width: 200px;
    box-sizing: border-box;
    line-height: 70px;
    text-align: left;
  }
  #fbIcon {
    display: none;
  }
}
.logomoto {
  width: 200px;
  margin-left: 10%;
    font-size: 60px;
   color: white;
  font-weight: 700;
   position: relative;

}
.logomotooo{
  position: relative;
}


}
.carlogoOnTitle {
    position:absolute;
    left: 2%;
    top:6%;
}

.button {
  font-size: 15px;
  text-decoration: none;
  border: 3px solid yellow;
  color: yellow;
  padding: 15px;
}
.button:hover {
  background-color: yellow;
  color: white;
}
.inline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.left {
  min-width: 50%;
  padding-top: 15%;
  padding-left: 10%;
}
.redCar {
  /* max-width: 600px; */
  max-width: 500px;
  border-radius: 50%;
  border: 3px solid grey;
  box-shadow: 5px 5px 10px 5px grey;
 margin-top: -18%;

  margin-left: 2%;
  margin-right: 2%;
 }
.right {
  width: 50%;
}
.about {
  color: red;
  text-align: left;
  padding-top: 10%;
  font-size: 30px;
  font-weight: 700;
}
.aboutCompany {
  width: 100px;
  font-size: 45px;
  font-weight: 700;
}
.text {
  color: grey;
  font-size: 28px;
}
.abouUsIconMoto {
  border: 3px solid white;
  min-width: 150px;
  max-width: 300px;
 flex-grow: 1;
  text-align: center;
    font-weight: 700;
  line-height: 20px;
  padding: 10px;
  font-size: 20px;
  color: rgb(70, 68, 68);
}
.abouUsIconMoto:hover {
  background-color: rgb(70, 68, 68);
  color: white;
  border-radius: 5%;
  transition: 0.5s;
  cursor: pointer;
}
.desc {
  font-size: 22px;
  color: green;
}
h1{
  font-size:40px; 
  text-align:center; 
  color:rgb(252, 248, 248); 
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
.services {
  background-color: black;
  align-items: center;
  padding: 15px 15px;
}
.two {
  margin-top: 30px;
  margin-left: 8%;
}
.diagnostic {
  display: inline-block;
  width: 45%;
  padding: 5px;
  box-sizing: border-box;
  transition: width 5s, height 5s;
  opacity: 0.5;
  min-width: 400px;
  position: relative;
  text-align: center;
}
.diagnostic:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}
.textOn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: aliceblue;
}
.request {
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  visibility: hidden;
}
.three {
  padding: 0px 15px;
}
.threePhoto {
  display: inline-block;
  width: 33%;
  padding: 5px;
  box-sizing: border-box;
  opacity: 0.5;

  position: relative;
  text-align: center;
  min-width: 400px;
}
.threePhoto:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}
.diagnostic:hover *.request {
  visibility: visible;
  cursor: pointer;
}
.threePhoto:hover *.request {
  visibility: visible;
  cursor: pointer;
}
.icons {
  padding-top: 15px;
}
#contactsSection{
  display:flex;
  margin:5%;
}
#contactsSection > div{
  justify-content:space-between;
}
.contacts {
  padding-left: 60px;
  margin-bottom: 10%;
  font-size: 20px;
  line-height: 3;
  text-decoration: none;
  color: black;
}



.totalContacts {
  display: inline-block;
  padding-right: 25px;
  width: 40%;
}
.maps {
  display: inline-block;
  width: 40%;
  padding-left: 5%;
}
.stickyMessenger {
  position: fixed;
  bottom: 0;
  right: 10px;
  padding: 20px;
}
.stickyMessenger:hover .messengerTooltip {
  visibility: visible;
}
.stickyMessenger .messengerTooltip {
  visibility: hidden;
  width: max-content;
  background-color: rgb(245, 238, 238);
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  right: 105%;
}
.inputfield {
  font-size: 30px;
  padding-top: 60px;
  margin-left: 80px;
}
form {
  padding: 60px;
  line-height: 30px;
}
.inputForm {
  font-size: 22px;
  font-weight: 700;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.choose {
  font-size: 22px;
  line-height: 40px;
}
input[type="submit"] {
  padding: 10px;
  font-weight: 700;
}
.serviceCheckbox {
  padding-top: 50px;
}
input[type="checkbox"] {
  width: 40px;
  height: 20px;
}
.inputSection {
  background-color: rgb(232, 235, 235);
}
.footer {
  text-align: center;
  padding: 30px;
  font-weight: 600;
  color: gray;
}
